* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: normal;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */

header {
  display: flex;
  width: calc(100% - 320px);
  padding: 24px 48px;
  margin: 32px 160px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(18, 18, 18, 0.5);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  z-index: 1000;
}

header img {
  height: 22px;
  object-fit: cover;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-links a {
  color: var(--Grey-text-Primary, #979797);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: all 0.3s;
  text-decoration: none;
}

.nav-links a:hover {
  color: #fff;
}

.white-button {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: var(--White-text, #fff);
  backdrop-filter: blur(2px);
  transition: all 0.3s;
  text-decoration: none;
}

.white-button:hover {
  box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.35);
}

.white-button span {
  color: var(--Black-Primary, #121212);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.white-button svg {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 5.293px 7.314px 5.293px 9.4px;
  justify-content: center;
  align-items: center;
}

/* Home */

.banner {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--Black-Primary, #121212);
}

.banner-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-heading {
  display: flex;
  width: 781px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  z-index: 10;
}

.banner-heading h1 {
  text-align: center;
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 104px;
  letter-spacing: -4.8px;
  background: linear-gradient(
    272deg,
    #ffbf00 -94.41%,
    #ffebb0 4.53%,
    #ffbf00 99.71%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-heading p {
  color: var(--Grey-text-grey-text-300, #b9b9b9);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.home-services {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  padding: 64px 160px 80px 160px;
  background: var(--Black-Primary, #121212);
  position: relative;
}

.home-services::before {
  width: 50%;
  height: 1px;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #121212, #fff, #121212);
}

.home-services-set {
  width: 100%;
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: linear-gradient(
    149deg,
    rgba(18, 18, 18, 0.75) -0.73%,
    rgba(18, 18, 18, 0.25) 100%
  );
  position: relative;
}

.home-services-set::before {
  width: 60%;
  height: 1px;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #121212, #ffbf00, #121212);
}

.home-services-set-icon {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: linear-gradient(
    148deg,
    rgba(11, 11, 11, 0.5) -0.75%,
    rgba(44, 44, 44, 0.25) 122.59%
  );
  box-shadow: 2px 2px 24px 0px rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(5px);
  border: 1px solid #fff;
  background-image: linear-gradient(#121212, #121212),
    linear-gradient(180deg, rgba(18, 18, 18, 0.75) 70%, #ffbf00);
  border: double 1px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.home-services-set section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.home-services-set section h3 {
  color: var(--White-text, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.home-services-set section p {
  color: var(--Grey-text-grey-text-300, #b9b9b9);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.home-our-pride {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background: var(--Black-Primary, #121212);
}

.section-heading {
  display: flex;
  width: 762px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 10;
}

.section-heading h2 {
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  background: linear-gradient(93deg, #ffbf00, #ffebb0, #ffbf00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-heading p {
  color: var(--White-text, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -2.88px;
}

.home-our-pride-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.home-our-pride-container .contact-info-set {
  height: 200px;
}

.home-our-pride-container .contact-info-set .contact-info-set-div {
  align-items: center;
  justify-content: center;
}

.home-our-pride-container .contact-info-set .contact-info-set-div img {
  object-fit: cover;
}

.our-success {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  padding: 80px 160px;
  background: var(--Black-Primary, #121212);
}

.our-success section {
  width: 40%;
  height: 422px;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: linear-gradient(180deg, #ffbf00 0%, #b58800 100%);
  overflow: hidden;
}

.search .heading {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.search .heading h3 {
  color: var(--Black-Primary, #121212);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.search .heading p {
  color: var(--Black-black-400, #414141);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  position: relative;
}

.search-container input {
  display: flex;
  height: 48px;
  padding: 16px;
  padding-left: 48px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px 8px 0px 0px;
  background: var(--White-text, #fff);
  color: var(--Black-black-300, #606060);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: 0;
  outline: none;
}

.search-container input:focus {
  border: none;
}

.search-container svg {
  position: absolute;
  top: 12px;
  left: 12px;
}

.search-container input:focus + svg path {
  stroke: #121212;
}

.search-input-options {
  height: 237px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background: var(--White-text, #fff);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.search-input-options::-webkit-scrollbar {
  display: none;
}

.search-input-options a {
  text-decoration: none;
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  transition: all 0.3s;
}

.search-input-options a:hover {
  background: var(--Grey-text-grey-text-50, #f5f5f5);
}

.search-input-options a h4 {
  color: var(--Black-Primary, #121212);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.search-input-options a p {
  color: var(--Grey-text-grey-text-800, #535353);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.our-success .contact-info-set {
  width: 60%;
}

.our-success .contact-info-set .contact-info-set-div {
  padding: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 64px;
}

.our-success .contact-info-set-div .heading {
  display: flex;
  width: 379px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.our-success .contact-info-set-div .heading h3 {
  color: var(--White-text, #fff);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.our-success .contact-info-set-div .heading p {
  text-align: left;
  color: var(--Grey-text-grey-text-300, #b9b9b9);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.our-success-number-container {
  display: flex;
  width: 100%;
  height: 125px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  flex-shrink: 0;
  position: relative;
}

.our-success-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-success-number span {
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--Grey-text-grey-text-50, #f5f5f5);
  color: transparent;
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -4.8px;
}

.our-success-number p {
  color: var(--White-text, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

#project span {
  color: var(--Yellow-Primary, #ffbf00);
  -webkit-text-stroke-width: 0;
  text-align: center;
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 104px;
  letter-spacing: -4.8px;
}

#project p {
  color: var(--Yellow-Primary, #ffbf00);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.our-success-number-container-left {
  position: absolute;
  left: -10px;
  width: 157px;
  height: 100%;
  filter: blur(5px);
  background: linear-gradient(90deg, #121212, rgba(0, 0, 0, 0));
}

.our-success-number-container-right {
  position: absolute;
  right: -10px;
  width: 157px;
  height: 100%;
  filter: blur(5px);
  background: linear-gradient(-90deg, #121212, rgba(0, 0, 0, 0));
}

.our-success-contact-info-set-bottom-line {
  width: 30%;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: 10%;
  background: linear-gradient(90deg, #121212, #fff, #121212);
}

.our-success .contact-info-set #stars {
  position: absolute;
  top: -20px;
  right: -40px;
  left: auto;
}

.why-us {
  width: 100%;
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background: var(--Black-Primary, #121212);
}

.why-us-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  overflow: hidden;
}

.why-us-cards-container {
  padding: 0px 160px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  transition: all 0.5s;
}

.why-us-cards {
  display: flex;
  width: 356px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
  border-radius: 8px;
  background: rgba(18, 18, 18, 0.8);
}

.why-us-cards-frame {
  display: flex;
  width: 312.888px;
  height: 231.294px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  position: relative;
}

.why-us-cards-frame-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  opacity: 0.2;
}

.why-us-cards:hover .why-us-cards-frame-background {
  opacity: 1;
}
.why-us-cards-icon {
  display: flex;
  width: 100px;
  height: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: url("./src/assets/Home/Why%20Us%20Card%20Icon%20Background.png")
    no-repeat center / cover;
  transition: all 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.why-us-cards:hover .why-us-cards-icon {
  box-shadow: 0px 2px 50px 0px rgba(255, 191, 0, 0.25);
}


.why-us-cards-icon img {
  object-fit: cover;
  height: 60px;
  opacity: 0.3;
  flex-shrink: 0;
  transition: all 0.5s;
}

.why-us-cards:hover .why-us-cards-icon img {
  opacity: 1;
}

.why-us-cards-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  transition: all 0.5s;
  opacity: 0.8;
}

.why-us-cards:hover .why-us-cards-info {
  opacity: 1;
}


.why-us-cards-info h3 {
  color: var(--White-text, #fff);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.why-us-cards-info p {
  color: var(--Grey-text-grey-text-300, #b9b9b9);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.why-us-buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.gallery-button {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: var(--Woodsmoke-BG-woodsmoke-bg-900, #343333);
  transition: all 0.3s;
  cursor: pointer;
}

.disable-button {
  border-radius: 100px;
  background: var(--Black-Primary, #212121);
}

.disable-button svg {
  opacity: 0.3;
}

/* Contact */

.contact-form {
  width: 100%;
  height: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  padding: 270px 160px 80px 160px;
  background: var(--Black-Primary, #121212);
  position: relative;
  overflow: hidden;
}

.contact-form-background {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  z-index: 1;
}

.contact-form-container {
  width: 100%;
  display: inline-flex;
  padding: 48px;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
  background: linear-gradient(
    273deg,
    #121212 15%,
    rgba(18, 18, 18, 0.6) 94.52%
  );
  backdrop-filter: blur(15px);
  z-index: 10;
}

.contact-form-container iframe {
  width: 50%;
  height: auto;
  border-radius: 8px;
  align-self: stretch;
}

.contact-form-container form {
  width: 50%;
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 8px;
  border: 1px solid var(--Woodsmoke-BG-woodsmoke-bg-600, #706f6f);
}

.contact-form-container form section {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.contact-form-container form fieldset {
  width: 100%;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.contact-form-container form fieldset label {
  color: var(--White-text, #fff);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.contact-form-container form fieldset input {
  width: 100%;
  color: var(--White-text, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: transparent;
  border: 0.7px solid var(--Woodsmoke-BG-woodsmoke-bg-600, #706f6f);
}

.contact-form-container form fieldset textarea {
  height: 200px;
  color: var(--White-text, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: transparent;
  border: 0.7px solid var(--Woodsmoke-BG-woodsmoke-bg-600, #706f6f);
}

.contact-form-container form button {
  width: 100%;
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 8px;
  background: var(--White-text, #fff);
  backdrop-filter: blur(2px);
  color: var(--Black-Primary, #121212);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: all 0.3s;
  cursor: pointer;
}

.contact-form-container form button:hover {
  box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.35);
}

.contact-glow-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--Black-Primary, #121212);
}

.contact-glow-div img {
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: all 1s;
}

.contact-glow-div .contact-glow-div-in-view {
  opacity: 1;
}

.contact-glow-div::before {
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(18, 18, 18, 0.9), rgba(0, 0, 0, 0) 20%);
  z-index: 1;
}

.contact-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 80px 160px;
  background: var(--Black-Primary, #121212);
  position: relative;
  overflow: hidden;
}

.contact-info-background {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.contact-info-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  z-index: 10;
}

.contact-info-set {
  width: 100%;
  display: flex;
  min-height: 158px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  gap: 8px;
  border-radius: 8px;
  position: relative;
}

.contact-info-set::before {
  width: 70%;
  height: 0.5px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #121212, #fff, #121212);
}

.contact-info-set .contact-info-set-div {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 32px 32px;
  border-radius: 8px;
  background: linear-gradient(
      149deg,
      rgba(18, 18, 18, 0.75) -0.73%,
      rgba(18, 18, 18, 0.25) 100%
    ),
    linear-gradient(
      148deg,
      rgba(49, 49, 49, 0.5) 1.39%,
      rgba(18, 18, 18, 0.25) 72.83%
    );
}

.contact-info-set .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.contact-info-set .heading img {
  width: 20px;
  object-fit: cover;
}

.contact-info-set .heading h3 {
  color: var(--White-text, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.contact-info-set p {
  color: var(--Grey-text-Primary, #979797);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.5s;
}

.contact-info-set:hover a p {
  color: #fff;
  opacity: 0.8;
}

/* Footer */

.footer-top {
  display: flex;
  width: 100%;
  padding: 40px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background: var(--Black-Primary, #121212);
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo img {
  width: 45px;
  object-fit: cover;
}

.footer-logo span {
  color: var(--White-text, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

footer nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11px;
  align-self: stretch;
}

footer nav section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  opacity: 0.76;
}

footer nav section a {
  color: var(--Grey-text-Primary, #979797);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s;
  text-decoration: none;
}

footer nav section a:hover {
  color: #fff;
}

.footer-line {
  width: 100%;
  height: 1px;
  background: #575757;
}

.footer-end {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer-end p {
  color: var(--Grey-text-grey-text-300, #b9b9b9);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-social svg path {
  transition: all 0.3s;
}

.footer-social a:hover svg path {
  fill: #fff;
}

.footer-end-links {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #979797;
}

.footer-end-links a {
  color: var(--Grey-text-Primary, #979797);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s;
  text-decoration: none;
}

.footer-end-links a:hover {
  color: #fff;
}

.footer-bottom {
  display: flex;
  width: 100%;
  height: 400px;
  padding: 100px 190px 14px 190px;
  justify-content: center;
  align-items: center;
  background: var(--Black-Primary, #121212);
  position: relative;
  overflow: hidden;
}

.footer-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: all 2s;
}

.footer-bottom-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-bottom svg path {
  transition: all 2s;
}

#footer-star {
  position: absolute;
  top: 0;
  left: 0;
}

.footer-bottom-container p {
  color: #fff;
  font-family: Poppins;
  font-size: 10vw;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -6.25px;
  transition: color 2s;
  text-align: center;
  position: relative;
  line-height: 104px;
}

.footer-bottom-container p::before {
  width: calc(100% + 20px);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, #121212 10%, rgba(0, 0, 0, 0));
  z-index: 1;
}

.footer-bottom-container span {
  color: #fff;
  font-family: Poppins;
  font-size: 10vw;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -6.25px;
  transition: color 2s;
  text-align: center;
  position: relative;
  line-height: 104px;
  transform: rotate(180deg) scaleX(-1);
}

.footer-bottom-container span::before {
  width: calc(100% + 20px);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(18, 18, 18, 1),
    rgba(18, 18, 18, 0.9)
  );
  z-index: 1;
}

.footer-bottom-in-view img {
  opacity: 1;
}

.footer-bottom-in-view #footer-star path {
  fill: #ffbf00;
}

.footer-bottom-in-view p {
  color: #ffbf00;
}

.footer-bottom-in-view span {
  color: #ffbf00;
}
