* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: normal;
}

html {
  scroll-behavior: smooth;
}

.virtual-card {
  background: var(--Black-Primary, #121212);
}

.virtual-card h2 {
  width: 100%;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 20px rgba(255, 255, 255, 0.3);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -2.88px;
  z-index: 1;
}

.virtual-card p {
  color: var(--Grey-grey-300, #a7a7a7);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  z-index: 1;
}

.virtual-card-contact-background,
.virtual-card-services-background,
.virtual-card-products-background {
  opacity: 0;
  transition: all 2s;
}

.virtual-card-inview {
  opacity: 1;
}

.virtual-star-twinkle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twinkle-1 {
  top: 15%;
  left: 30%;
  animation: twinkleAnimation 5s infinite alternate ease-in-out;
}

.twinkle-2 {
  top: 25%;
  right: 30%;
  animation: twinkleAnimation 3s infinite alternate ease-in-out;
}
.twinkle-3 {
  bottom: 15%;
  left: 40%;
  animation: twinkleAnimation 4s infinite alternate ease-in-out;
}

.twinkle-4 {
  top: 30%;
  left: 50%;
  animation: twinkleAnimation 7s infinite alternate ease-in-out;
}
.twinkle-5 {
  top: 75%;
  right: 30%;
  animation: twinkleAnimation 3s infinite alternate ease-in-out;
}

@keyframes twinkleAnimation {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}

/* Banner */

.virtual-card-banner {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  position: relative;
  overflow: hidden;
}

.virtual-card-banner-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.virtual-card-banner-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 80px 160px;
}

.virtual-card-banner-left {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.virtual-card-banner-left-text {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.virtual-card-banner-left-text section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.virtual-card-banner-left-text img {
  height: 13px;
  object-fit: cover;
}

.virtual-card-banner-left-text h1 {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -2.56px;
}

.virtual-card-banner-left-text h1 img {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.virtual-card-banner-designation {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  position: relative;
}

.virtual-card-banner-designation::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px;
  padding: 1px;
  background: linear-gradient(90deg, #ffe500, #ffffff);
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.virtual-card-banner-left-text span {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.8px;
}

.virtual-card-banner-left-text p {
  width: 443px;
  color: var(--Grey-grey-300, #a7a7a7);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.8px;
}

.virtual-card-white-button {
  text-decoration: none;
  display: inline-flex;
  padding: 16px 32px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--White-text, #fff);
  backdrop-filter: blur(2px);
  transition: all 0.3s;
}

.virtual-card-white-button p {
  color: var(--Black-Primary, #121212);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: all 0.3s;
}

.virtual-card-white-button svg path {
  transition: all 0.3s;
}

.virtual-card-white-button:hover {
  background: linear-gradient(
      0deg,
      rgba(18, 18, 18, 0.7) 0%,
      rgba(18, 18, 18, 0.7) 100%
    ),
    #414141;
}

.virtual-card-white-button:hover p {
  color: var(--White-text, #fff);
}

.virtual-card-white-button:hover svg path {
  fill: #fff;
}

.virtual-card-banner-right {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.virtual-card-banner-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.virtual-card-banner-marquee {
  width: 200%;
  display: flex;
  padding: 4px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
}

.virtual-card-banner-marquee.white {
  background: var(--White, #fff);
  transform: rotate(7.785deg);
  bottom: 40px;
}

.virtual-card-banner-marquee.yellow {
  background: var(--Yellow-Primary, #ffbf00);
  transform: rotate(-11.131deg);
  bottom: 32px;
}

.virtual-card-banner-marquee.white .virtual-card-banner-marquee-marquee {
  animation: marquee 20s linear infinite;
}

.virtual-card-banner-marquee.yellow .virtual-card-banner-marquee-marquee {
  animation: reversemarquee 20s linear infinite;
}

.virtual-card-banner-marquee-wrapper {
  width: 100%;
  overflow: hidden;
}

.virtual-card-banner-marquee-marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.virtual-card-banner-marquee-marquee p {
  color: var(--Black-Primary, #121212);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
}

.virtual-card-banner-marquee-marquee img {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  object-fit: cover;
}

/* About */

.virtual-card-about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.virtual-card-about .star {
  position: absolute;
  top: -175px;
  right: 0;
}

.virtual-card-about-background {
  width: 100%;
  object-fit: cover;
}

.virtual-card-about-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.virtual-card-about-container p {
  width: 720px;
  text-align: center;
}

/* Communication */

.virtual-card-communication {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 80px 160px;
  position: relative;
}

.virtual-card-communication-background {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.virtual-card-communication-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  align-self: stretch;
  z-index: 1;
}

.virtual-card-communication-set {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  flex: 1 0 0;
}

.virtual-card-communication-set a {
  display: flex;
  width: 64px;
  height: 64px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  border-radius: 48px;
  background: linear-gradient(
      0deg,
      rgba(18, 18, 18, 0.7) 0%,
      rgba(18, 18, 18, 0.7) 100%
    ),
    #414141;
  text-decoration: none;
}

.virtual-card-communication-set a svg path {
  transition: all 0.3s;
}

.virtual-card-communication-set a:hover svg path {
  fill: #ffbf00;
}

.virtual-card-communication-set:last-child {
  gap: 64px;
}

.virtual-card-communication section {
  display: flex;
  align-items: center;
  gap: 9px;
}

.virtual-card-communication section img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.virtual-card-communication section p {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.44px;
}

/* Services */

.virtual-card-services {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
  position: relative;
  overflow: hidden;
  padding: 64px 160px;
}

.virtual-card-services-background {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.virtual-card-services-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.virtual-card-services-set {
  width: 100%;
  height: 406px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid var(--Black-black-400, #414141);
  background: linear-gradient(
    148deg,
    rgba(18, 18, 18, 0.2) 0%,
    rgba(18, 18, 18, 0.4) 99.15%
  );
  backdrop-filter: blur(30px);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.virtual-card-services-set h3 {
  color: #fff;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 36px */
  letter-spacing: -1.44px;
  z-index: 1;
}

.virtual-card-services-set img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  object-fit: cover;
  transition: all 0.3s;
}

.virtual-card-services-set:hover img {
  transform: translate(-50%, -50%);
}

/* Products */

.virtual-card-products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
  position: relative;
  overflow: hidden;
  padding: 64px 160px;
}

.virtual-card-products-background {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.virtual-card-products-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  z-index: 1;
}

.virtual-card-products-set {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.virtual-card-products-set-img {
  width: 100%;
  height: 349px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 4px;
}

.virtual-card-products-set-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.virtual-card-products-set:hover img {
  scale: 1.2;
}

.virtual-card-products-set h3 {
  color: #fff;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.12px;
}

/* Watch */

.virtual-card-watch {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
  position: relative;
  overflow: hidden;
  padding: 64px 160px;
}

.virtual-card-watch-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.virtual-card-watch-weeks {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.virtual-card-watch-weeks button {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  background: transparent;
  border: 1px solid var(--Black-black-400, #414141);
  color: var(--Black-black-300, #606060);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.72px;
  cursor: pointer;
}

.virtual-card-watch-weeks button:hover {
  border: 1px solid var(--Grey-grey-400, #959595);
}

.virtual-card-watch-weeks .virtual-card-watch-active-week {
  color: #fff;
  border: 1px solid var(--Black-black-400, #414141);
}

.virtual-card-watch-display {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.virtual-card-watch-frame {
  width: 665px;
  object-fit: cover;
}

.virtual-card-watch-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.virtual-card-watch-content h3 {
  color: #fff;
  text-align: center;
  font-family: Orbitron;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.8px;
}

.virtual-card-watch-content section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.virtual-card-watch-available {
  display: flex;
  align-items: center;
  gap: 4px;
}

.virtual-card-watch-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b9ffbc;
  filter: drop-shadow(0px 2px 16px rgba(33, 188, 39, 0.3));
}

.virtual-card-watch-dot sub {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #21bc27;
}

.virtual-card-watch-red .virtual-card-watch-dot {
  background: #ffb9b9;
  filter: drop-shadow(0px 2px 16px #ffb9b9);
}

.virtual-card-watch-red .virtual-card-watch-dot sub {
  background: #e20f0f;
}

.virtual-card-watch-content section span {
  color: #21bc27;
  font-family: Orbitron;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.96px;
}

.virtual-card-watch-red section span {
  color: #e20f0f;
}

.virtual-card-watch-content section p {
  color: #fff;
  text-align: center;
  font-family: Orbitron;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -1.6px;
}

.virtual-card-watch-content img {
  height: 13px;
  object-fit: cover;
}

/* Skills */

.virtual-card-skills {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
  position: relative;
  overflow: hidden;
  padding: 64px 160px;
}

.virtual-card-skills-background {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.virtual-card-skills-container {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  z-index: 1;
}

.virtual-card-skills-set {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.virtual-card-skills-set img {
  width: 36px;
  height: 36px;
  object-fit: cover;
}

.virtual-card-skills-set h3 {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
}

/* Experience */

.virtual-card-experience {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
  position: relative;
  overflow: hidden;
  padding: 64px 0px;
}

.virtual-card-experienc-background {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.virtual-card-experience h2 {
  z-index: 1;
}

.virtual-card-experience-container {
  display: flex;
  width: 724px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  z-index: 1;
}

.virtual-card-experience-set {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding-bottom: 24px;
  border-bottom: 1px solid #414141;
}

.virtual-card-experience-set h3 {
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
}

.virtual-card-experience-set section {
  min-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: -2px;
}

.virtual-card-experience-set section h4 {
  color: var(--Black-black-100, #b6b6b6);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.72px;
}

/* Contact */

.virtual-card-contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 40px 0px;
  background: var(--Black-Primary, #121212);
}

.virtual-card-contact-background {
  width: 100%;
  object-fit: cover;
}

.virtual-card-contact-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
}

.virtual-card-contact-container form {
  display: flex;
  width: 800px;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  border: 0.7px solid var(--Woodsmoke-BG-woodsmoke-bg-600, #706f6f);
  background: linear-gradient(
    273deg,
    #121212 15%,
    rgba(18, 18, 18, 0.6) 94.52%
  );
}

.virtual-card-contact-container form .form-section {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 24px;
}

.virtual-card-contact-container form section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.virtual-card-contact-container form section label {
  color: var(--White-text, #fff);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

.virtual-card-contact-container form section label span {
  color: red;
}

.virtual-card-contact-container form section input {
  width: 100%;
  display: flex;
  height: 52px;
  padding: 12px 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background: transparent;
  border: 0.7px solid var(--Woodsmoke-BG-woodsmoke-bg-600, #706f6f);
  color: var(--Grey-text-grey-text-300, #b9b9b9);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
}

.virtual-card-contact-container form section textarea {
  width: 100%;
  height: 200px;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background: transparent;
  border: 0.7px solid var(--Woodsmoke-BG-woodsmoke-bg-600, #706f6f);
  color: var(--Grey-text-grey-text-300, #b9b9b9);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
  resize: none;
}

.virtual-card-contact-container form .virtual-card-white-button {
  width: 100%;
  border: none;
  cursor: pointer;
}

/* Testimony */

.virtual-card-testimony {
  width: 100%;
  display: flex;
  padding: 54px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background: var(--Black-Primary, #121212);
  position: relative;
  overflow: hidden;
}

.virtual-card-testimony-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.virtual-card-testimony-set-container {
  width: 100%;
  overflow: hidden;
}

.virtual-card-testimony-set-slide {
  white-space: nowrap;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  gap: 48px;
  animation: marquee 30s linear infinite;
}

.virtual-card-testimony-set-slide:hover {
  animation-play-state: paused;
  cursor: grab;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes reversemarquee {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.virtual-card-testimony-set {
  white-space: wrap;
  width: 500px;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #414141;
  background: linear-gradient(159deg, #1d1d1d 0.49%, #121212 58.97%);
}

.virtual-card-testimony-set p {
  width: 100%;
  color: var(--Grey-grey-300, #a7a7a7);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.virtual-card-testimony-set section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.virtual-card-testimony-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "box-1 box-2"
    "box-1 box-3";
}

.virtual-card-testimony-info img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #5f5f5f;
  margin-right: 8px;
}

.virtual-card-testimony-info h4 {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.56px;
}

.virtual-card-testimony-info span {
  color: var(--Black-black-300, #606060);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}

.virtual-card-testimony-star {
  display: flex;
  align-items: center;
}

.virtual-card-testimony-star img {
  width: 16px;
  object-fit: cover;
}

.virtual-card-testimony-dark {
  width: 640px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 823px;
  background: var(--Black-Primary, #121212);
  filter: blur(80px);
  position: absolute;
  z-index: 10;
  bottom: -20%;
}

.virtual-card-testimony-left {
  left: -195px;
}

.virtual-card-testimony-right {
  right: -195px;
}

/* Lets Connect */

.virtual-card-connect {
  width: 100%;
  display: flex;
  padding: 64px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  align-self: stretch;
  background: var(--Black-Primary, #121212);
}

.virtual-card-connect-container {
  width: 834px;
  position: relative;
}

.virtual-card-connect-container img {
  width: 100%;
  object-fit: cover;
}

.virtual-card-connect-container .heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.virtual-card-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.virtual-card-socials a {
  display: flex;
  display: flex;
  width: 60px;
  height: 48px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: linear-gradient(
      0deg,
      rgba(18, 18, 18, 0.7) 0%,
      rgba(18, 18, 18, 0.7) 100%
    ),
    #414141;
}

.virtual-card-socials a svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.virtual-card-socials a svg path {
  transition: all 0.3s;
}

.virtual-card-socials a:hover svg path {
  fill: #ffbf00;
}

/* Footer */

.virtual-card-footer {
  width: 100%;
  display: flex;
  padding: 64px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background: var(--Black-Primary, #121212);
}

.virtual-card-footer-container {
  display: flex;
  width: 100%;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 16px;
  border: 1px solid var(--Black-black-400, #414141);
  background: var(--Black-Primary, #121212);
}

.virtual-card-footer-container section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.virtual-card-footer-container section img {
  height: 16px;
  object-fit: cover;
}

.virtual-card-footer-container section p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.virtual-card-footer-container section span {
  text-decoration: none;
  color: var(--Grey-grey-700, #575757);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.virtual-card-footer-container section span a {
  text-decoration: none;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  transition: all 0.3s;
}

.virtual-card-footer-container section span a:hover {
  color: #ffbf00;
}

.virtual-card-footer-link-container {
  display: flex;
  height: 24px;
  align-items: center;
  gap: 8px;
}

.virtual-card-footer-link-container a {
  text-decoration: none;
  color: var(--Grey-grey-700, #575757);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
  transition: all 0.3s;
}

.virtual-card-footer-link-container a:hover {
  color: #fff;
}

.virtual-card-footer-link-container span {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #575757;
}

.virtual-card-footer-line {
  width: 100%;
  height: 1px;
  background: #414141;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }

  .virtual-card-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .virtual-card-banner-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 20px 20px;
  }

  .virtual-card-banner-left {
    width: 100%;
    height: auto;
  }

  .virtual-card-banner-left-text {
    gap: 16px;
  }

  .virtual-card-banner-left-text section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .virtual-card-banner-left-text h1 {
    color: var(--White, #fff);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.44px;
  }
  .virtual-card-banner-left-text h1 img {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
    margin-left: 9px;
  }

  .virtual-card-banner-left-text p {
    width: 100%;
    color: var(--Grey-grey-300, #a7a7a7);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.64px;
  }

  .virtual-card-banner-right {
    width: 100%;
  }
}
